<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>白色皮肤映射表</key>
	<string></string>
	<key>color_palette</key>
	<string>main_color_palette</string>
	<key>line</key>
	<dict>
		<key>line_pre_aftermarket</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light4</string>
			<key>Remark</key>
			<string>盘前盘后分割线</string>
		</dict>
		<key>line_seperator</key>
		<dict>
			<key>Color</key>
			<string>ck_gray</string>
			<key>Remark</key>
			<string>通用分割线</string>
		</dict>
		<key>line_h1</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light1</string>
			<key>Remark</key>
			<string>h1分割线</string>
		</dict>
		<key>line_h2</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light4</string>
			<key>Remark</key>
			<string>h1分割线</string>
		</dict>
		<key>line_seperator_overlay</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_dark2</string>
			<key>Remark</key>
			<string>深色背景下分割线</string>
		</dict>
		<key>line_highlight</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1</string>
			<key>Remark</key>
			<string>选中状态条</string>
		</dict>
		<key>line_link</key>
		<dict>
			<key>Color</key>
			<string>ck_futuorange</string>
			<key>Remark</key>
			<string>可点状态线条</string>
		</dict>
		<key>---- 未确定1 ----</key>
		<dict>
			<key>Color</key>
			<string>ck_futuorange</string>
			<key>Remark</key>
			<string>可点状态线条</string>
		</dict>
		<key>line_recommend</key>
		<dict>
			<key>Color</key>
			<string>ck_orange</string>
			<key>Remark</key>
			<string>推荐色线条</string>
		</dict>
		<key>line_rise</key>
		<dict>
			<key>Color</key>
			<string>ck_red</string>
			<key>Remark</key>
			<string>红色线条</string>
		</dict>
		<key>line_fall</key>
		<dict>
			<key>Color</key>
			<string>ck_green</string>
			<key>Remark</key>
			<string>绿色线条</string>
		</dict>
		<key>line_blue</key>
		<dict>
			<key>Color</key>
			<string>ck_blue</string>
			<key>Remark</key>
			<string>蓝色线</string>
		</dict>
		<key>line_black</key>
		<dict>
			<key>Color</key>
			<string>ck_black</string>
			<key>Remark</key>
			<string>黑色线条</string>
		</dict>
		<key>line_white</key>
		<dict>
			<key>Color</key>
			<string>ck_white</string>
			<key>Remark</key>
			<string>白色线条</string>
		</dict>
		<key>line_buy</key>
		<dict>
			<key>Color</key>
			<string>ck_skyblue</string>
			<key>Remark</key>
			<string>买入描边</string>
		</dict>
		<key>line_newtrade_analyse_trend</key>
		<dict>
			<key>Color</key>
			<string>ck_blue</string>
			<key>Remark</key>
			<string>新交易tab经典皮肤资产分析走势线</string>
		</dict>
	</dict>
	<key>text</key>
	<dict>
		<key>text_h1</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light1</string>
			<key>Remark</key>
			<string>标题/正文</string>
		</dict>
		<key>text_h1_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light1_60</string>
			<key>Remark</key>
			<string>标题/正文  按压态</string>
		</dict>
		<key>text_h1_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light1_30</string>
			<key>Remark</key>
			<string>标题/正文  置灰态</string>
		</dict>
		<key>text_h2</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light4</string>
			<key>Remark</key>
			<string>副标题/信息字段</string>
		</dict>
		<key>text_h2_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light4_60</string>
			<key>Remark</key>
			<string>副标题/信息字段  按压态</string>
		</dict>
		<key>text_h2_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light4_30</string>
			<key>Remark</key>
			<string>副标题/信息字段  置灰态</string>
		</dict>
		<key>text_h3</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_dark6</string>
			<key>Remark</key>
			<string>辅助提示</string>
		</dict>
		<key>text_h3_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_dark6</string>
			<key>Remark</key>
			<string>辅助提示  按压态</string>
		</dict>
		<key>text_h3_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_dark6</string>
			<key>Remark</key>
			<string>辅助提示  置灰态</string>
		</dict>
		<key>text_link</key>
		<dict>
			<key>Color</key>
			<string>ck_blue</string>
			<key>Remark</key>
			<string>文字链，蓝色文字</string>
		</dict>
		<key>text_link_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_blue_dark2</string>
			<key>Remark</key>
			<string>文字链，蓝色文字 置灰态</string>
		</dict>
		<key>text_link1</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1</string>
			<key>Remark</key>
			<string>选中/点击推荐</string>
		</dict>
		<key>text_link1_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1_60</string>
			<key>Remark</key>
			<string>选中/点击推荐  按压态</string>
		</dict>
		<key>text_link1_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1_30</string>
			<key>Remark</key>
			<string>选中/点击推荐  置灰态</string>
		</dict>
		<key>text_link1_sns</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1</string>
			<key>Remark</key>
			<string>社交_选中/点击推荐</string>
		</dict>
		<key>text_link1_sns_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1_60</string>
			<key>Remark</key>
			<string>社交_选中/点击推荐  按压态</string>
		</dict>
		<key>text_link1_sns_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1_30</string>
			<key>Remark</key>
			<string>社交_选中/点击推荐  置灰态</string>
		</dict>
		<key>text_link1_live</key>
		<dict>
			<key>Color</key>
			<string>ck_futuorange</string>
			<key>Remark</key>
			<string>直播_选中/点击推荐</string>
		</dict>
		<key>text_link2</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light4</string>
			<key>Remark</key>
			<string>可点击</string>
		</dict>
		<key>text_link2_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light4_60</string>
			<key>Remark</key>
			<string>可点击  按压态</string>
		</dict>
		<key>text_link2_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light4_30</string>
			<key>Remark</key>
			<string>可点击  置灰态</string>
		</dict>
		<key>text_tips_yellow</key>
		<dict>
			<key>Color</key>
			<string>ck_yellow_dark1</string>
			<key>Remark</key>
			<string>黄色提示栏文字</string>
		</dict>
		<key>text_tips_yellow_link</key>
		<dict>
			<key>Color</key>
			<string>ck_blue</string>
			<key>Remark</key>
			<string>黄色提示栏链接文字</string>
		</dict>
		<key>text_tips_blue</key>
		<dict>
			<key>Color</key>
			<string>ck_grayblue_light5</string>
			<key>Remark</key>
			<string>蓝色提示栏文字</string>
		</dict>
		<key>text_tips_blue_link</key>
		<dict>
			<key>Color</key>
			<string>ck_blue</string>
			<key>Remark</key>
			<string>蓝色提示栏链接文字</string>
		</dict>
		<key>text_tips_red</key>
		<dict>
			<key>Color</key>
			<string>ck_red_light4</string>
			<key>Remark</key>
			<string>红色提示栏文字</string>
		</dict>
		<key>text_tips_red_link</key>
		<dict>
			<key>Color</key>
			<string>ck_blue</string>
			<key>Remark</key>
			<string>红色提示栏链接文字</string>
		</dict>
		<key>text_recommend</key>
		<dict>
			<key>Color</key>
			<string>ck_orange</string>
			<key>Remark</key>
			<string>强调</string>
		</dict>
		<key>text_rise</key>
		<dict>
			<key>Color</key>
			<string>ck_red</string>
			<key>Remark</key>
			<string>股价上涨</string>
		</dict>
		<key>text_fall</key>
		<dict>
			<key>Color</key>
			<string>ck_green</string>
			<key>Remark</key>
			<string>股价下跌</string>
		</dict>
		<key>text_stable</key>
		<dict>
			<key>Color</key>
			<string>ck_navy_light4</string>
			<key>Remark</key>
			<string>股价无变化</string>
		</dict>
		<key>text_warn</key>
		<dict>
			<key>Color</key>
			<string>ck_red</string>
			<key>Remark</key>
			<string>警示</string>
		</dict>
		<key>text_buy</key>
		<dict>
			<key>Color</key>
			<string>ck_skyblue</string>
			<key>Remark</key>
			<string>买入文字</string>
		</dict>
		<key>text_sell</key>
		<dict>
			<key>Color</key>
			<string>ck_futuorange</string>
			<key>Remark</key>
			<string>卖出文字</string>
		</dict>
		<key>text_button</key>
		<dict>
			<key>Color</key>
			<string>ck_white</string>
			<key>Remark</key>
			<string>按钮文字</string>
		</dict>
		<key>text_reverse</key>
		<dict>
			<key>Color</key>
			<string>ck_white</string>
			<key>Remark</key>
			<string>反显文字</string>
		</dict>
		<key>text_black</key>
		<dict>
			<key>Color</key>
			<string>ck_black</string>
			<key>Remark</key>
			<string>黑色文字</string>
		</dict>
		<key>text_newtrade_analyse_tagdate_light</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_newtrade_analyse_tagdate_light</string>
			<key>Remark</key>
			<string>新交易tab白色皮肤资产分析日期标签字颜色</string>
		</dict>
		<key>text_fund_link1</key>
		<dict>
			<key>Color</key>
			<string>ck_purple_futu</string>
			<key>Remark</key>
			<string>产品紫</string>
		</dict>
		<key>text_fund_link1_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_purple_futu_50</string>
			<key>Remark</key>
			<string>赎回按钮置灰</string>
		</dict>
		<key>text_fund_link1_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_purple_dark2</string>
			<key>Remark</key>
			<string>按压</string>
		</dict>
		<key>text_moomootransfer_focuscard</key>
		<dict>
			<key>Color</key>
			<string>ck_moomootransfer_focuscard_text</string>
			<key>Remark</key>
			<string>moomoo出入金聚焦卡片字色</string>
		</dict>
		<key>text_moomootransfer_banking_tag_rejected</key>
		<dict>
			<key>Color</key>
			<string>ck_moomootransfer_banking_tag_rejected_text_light</string>
			<key>Remark</key>
			<string>moomoo出入金聚焦账户字色</string>
		</dict>
	</dict>
	<key>block</key>
	<dict>
		<key>block_pre_aftermarket</key>
		<dict>
			<key>Color</key>
			<string>ck_deepgray_light4_06</string>
			<key>Remark</key>
			<string>盘前盘后遮罩</string>
		</dict>
		<key>block_fall_10</key>
		<dict>
			<key>Color</key>
			<string>ck_green_10</string>
			<key>Remark</key>
			<string>股价下跌_浅色底</string>
		</dict>
		<key>block_rise_10</key>
		<dict>
			<key>Color</key>
			<string>ck_red_10</string>
			<key>Remark</key>
			<string>股价上涨_浅色底</string>
		</dict>
		<key>block_stable_10</key>
		<dict>
			<key>Color</key>
			<string>ck_navy_light4_10</string>
			<key>Remark</key>
			<string>股价无变化_浅色底</string>
		</dict>
		<key>block_brand</key>
		<dict>
			<key>Color</key>
			<string>ck_futublue</string>
			<key>Remark</key>
			<string>品牌</string>
		</dict>
		<key>block_recommend</key>
		<dict>
			<key>Color</key>
			<string>ck_orange</string>
			<key>Remark</key>
			<string>强调</string>
		</dict>
		<key>block_recommend_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_60</string>
			<key>Remark</key>
			<string>强调  按压态</string>
		</dict>
		<key>block_recommend_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_30</string>
			<key>Remark</key>
			<string>强调  置灰态</string>
		</dict>
		<key>block_rise</key>
		<dict>
			<key>Color</key>
			<string>ck_red</string>
			<key>Remark</key>
			<string>股价上涨</string>
		</dict>
		<key>block_stable</key>
		<dict>
			<key>Color</key>
			<string>ck_navy_light4</string>
			<key>Remark</key>
			<string>股价无变化</string>
		</dict>
		<key>block_stable_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_navy_light4_60</string>
			<key>Remark</key>
			<string>股价无变化</string>
		</dict>
		<key>block_stable_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_navy_light4_30</string>
			<key>Remark</key>
			<string>股价无变化</string>
		</dict>
		<key>block_fall</key>
		<dict>
			<key>Color</key>
			<string>ck_green</string>
			<key>Remark</key>
			<string>股价下跌</string>
		</dict>
		<key>block_buy</key>
		<dict>
			<key>Color</key>
			<string>ck_skyblue</string>
			<key>Remark</key>
			<string>买操作</string>
		</dict>
		<key>block_buy_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_skyblue_60</string>
			<key>Remark</key>
			<string>买操作  按压态</string>
		</dict>
		<key>block_buy_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_skyblue_30</string>
			<key>Remark</key>
			<string>买操作  置灰态</string>
		</dict>
		<key>block_sell</key>
		<dict>
			<key>Color</key>
			<string>ck_futuorange</string>
			<key>Remark</key>
			<string>卖操作</string>
		</dict>
		<key>block_sell_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_futuorange_60</string>
			<key>Remark</key>
			<string>卖操作  按压态</string>
		</dict>
		<key>block_sell_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_futuorange_30</string>
			<key>Remark</key>
			<string>卖操作  置灰态</string>
		</dict>
		<key>block_tips_yellow</key>
		<dict>
			<key>Color</key>
			<string>ck_yellow_light5</string>
			<key>Remark</key>
			<string>黄色提示栏背景</string>
		</dict>
		<key>block_tips_blue</key>
		<dict>
			<key>Color</key>
			<string>ck_skyblue_light3</string>
			<key>Remark</key>
			<string>蓝色提示栏背景</string>
		</dict>
		<key>block_tips_red</key>
		<dict>
			<key>Color</key>
			<string>ck_red_light2</string>
			<key>Remark</key>
			<string>红色提示栏背景</string>
		</dict>
		<key>block_highlight</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1</string>
			<key>Remark</key>
			<string>选中</string>
		</dict>
		<key>block_highlight_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1_60</string>
			<key>Remark</key>
			<string>选中  按压态</string>
		</dict>
		<key>block_highlight_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1_30</string>
			<key>Remark</key>
			<string>选中  置灰态</string>
		</dict>
		<key>block_blue</key>
		<dict>
			<key>Color</key>
			<string>ck_blue</string>
			<key>Remark</key>
			<string>蓝色色块</string>
		</dict>
		<key>block_white</key>
		<dict>
			<key>Color</key>
			<string>ck_white</string>
			<key>Remark</key>
			<string>白色色块</string>
		</dict>
		<key>block_white_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_white_60</string>
			<key>Remark</key>
			<string>白色色块_点击</string>
		</dict>
		<key>block_white_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_white_30</string>
			<key>Remark</key>
			<string>白色色块_不可用</string>
		</dict>
		<key>block_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_gray</string>
			<key>Remark</key>
			<string>不可用状态</string>
		</dict>
		<key>block_card_overlay</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_light2</string>
			<key>Remark</key>
			<string>模块叠加</string>
		</dict>
		<key>block_card_overlay_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_dark3</string>
			<key>Remark</key>
			<string>模块叠加_点击</string>
		</dict>
		<key>block_card_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_dark2</string>
			<key>Remark</key>
			<string>模块/列表  按压态</string>
		</dict>
		<key>block_card_bg</key>
		<dict>
			<key>Color</key>
			<string>ck_white</string>
			<key>Remark</key>
			<string>模块背景</string>
		</dict>
		<key>block_bg</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_dark4</string>
			<key>Remark</key>
			<string>页面背景</string>
		</dict>
		<key>block_ipad_tabbar_bg</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_light7</string>
			<key>Remark</key>
			<string>ipad 侧导航背景</string>
		</dict>
		<key>block_assist</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_dark2</string>
			<key>Remark</key>
			<string>辅助形状</string>
		</dict>
		<key>block_warn</key>
		<dict>
			<key>Color</key>
			<string>ck_red</string>
			<key>Remark</key>
			<string>警告色块</string>
		</dict>
		<key>block_newtrade_light</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_newtrade_light</string>
			<key>Remark</key>
			<string>新交易tab展开背景色</string>
		</dict>
		<key>block_newtrade_light_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_newtrade_light_pressed</string>
			<key>Remark</key>
			<string>新交易tab展开背景色按压态</string>
		</dict>
		<key>block_newtrade_bg_light</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_newtrade_bg_light</string>
			<key>Remark</key>
			<string>新交易tab白色皮肤背景色</string>
		</dict>
		<key>block_newtrade_bg_top</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_newtrade_bg_light_top</string>
			<key>Remark</key>
			<string>新交易tab白色皮肤顶部渐变</string>
		</dict>
		<key>block_newtrade_analyse_tagbg_light</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_newtrade_analyse_tagbg_light</string>
			<key>Remark</key>
			<string>新交易tab白色皮肤资产分析日期标签背景色</string>
		</dict>
		<key>block_newtrade_analyse_chart_moneyplus</key>
		<dict>
			<key>Color</key>
			<string>ck_yellow_newtrade_analyse_chart_moneyplus</string>
			<key>Remark</key>
			<string>资产分析现金宝图标色值</string>
		</dict>
		<key>block_newtrade_analyse_chart_futures</key>
		<dict>
			<key>Color</key>
			<string>ck_green_newtrade_analyse_chart_futures</string>
			<key>Remark</key>
			<string>资产分析期货图表色值</string>
		</dict>
		<key>block_newtrade_analyse_trend_pop_bg</key>
		<dict>
			<key>Color</key>
			<string>ck_gray_newtrade_analyse_trend_pop_light</string>
			<key>Remark</key>
			<string>新交易tab白色皮肤资产分析走势浮层</string>
		</dict>
		<key>block_newtrade_analyse_trend</key>
		<dict>
			<key>Color</key>
			<string>ck_blue_12</string>
			<key>Remark</key>
			<string>新交易tab经典皮肤资产分析走势面</string>
		</dict>
		<key>block_fund_card_bg_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_purple_dark2</string>
			<key>Remark</key>
			<string>主按钮 按压</string>
		</dict>
		<key>block_fund_card_bg_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_purple_futu_50</string>
			<key>Remark</key>
			<string>主按钮 失效</string>
		</dict>
		<key>block_fund_buy</key>
		<dict>
			<key>Color</key>
			<string>ck_purple_futu</string>
			<key>Remark</key>
			<string>买入按钮</string>
		</dict>
		<key>block_fund_buy_pressed</key>
		<dict>
			<key>Color</key>
			<string>ck_purple_dark2</string>
			<key>Remark</key>
			<string>买入按钮 按压</string>
		</dict>
		<key>block_fund_buy_disable</key>
		<dict>
			<key>Color</key>
			<string>ck_purple_futu_50</string>
			<key>Remark</key>
			<string>买入按钮 失效</string>
		</dict>
		<key>block_moomootransfer_focuscard_bg</key>
		<dict>
			<key>Color</key>
			<string>ck_moomootransfer_focuscard_bg_light</string>
			<key>Remark</key>
			<string>moomoo出入金顶部卡片背景</string>
		</dict>
		<key>block_moomootransfer_banking_tag_rejected</key>
		<dict>
			<key>Color</key>
			<string>ck_moomootransfer_banking_tag_rejected_bg_light</string>
			<key>Remark</key>
			<string>moomoo出入金顶部账户背景</string>
		</dict>
		<key>block_chart_new_orange</key>
		<dict>
			<key>Color</key>
			<string>ck_orange_light1</string>
			<key>Remark</key>
			<string>资产分析图表颜色新</string>
		</dict>
		<key>block_chart_new_yellow</key>
		<dict>
			<key>Color</key>
			<string>ck_yellow_light9</string>
			<key>Remark</key>
			<string>资产分析图表颜色新</string>
		</dict>
		<key>block_chart_new_blue</key>
		<dict>
			<key>Color</key>
			<string>ck_blue_light15</string>
			<key>Remark</key>
			<string>资产分析图表颜色新</string>
		</dict>
		<key>block_chart_new_blue_light</key>
		<dict>
			<key>Color</key>
			<string>ck_blue_light16</string>
			<key>Remark</key>
			<string>资产分析图表颜色新</string>
		</dict>
		<key>block_chart_new_blue_dark</key>
		<dict>
			<key>Color</key>
			<string>ck_blue_dark3</string>
			<key>Remark</key>
			<string>资产分析图表颜色新</string>
		</dict>
		<key>block_chart_new_purple</key>
		<dict>
			<key>Color</key>
			<string>ck_purple_light9</string>
			<key>Remark</key>
			<string>资产分析图表颜色新</string>
		</dict>
	</dict>
</dict>
</plist>
